<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=DENIS-PK\SQLEXPRESS;Database=BDCA;Trusted_Connection=True;Connection timeout=100" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DataDirectory" value="../Data"/>
  </appSettings>
</configuration>