<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="db" connectionString="Data Source=DESKTOP\SQLEXPRESS;Initial Catalog=BDCA;Persist Security Info=True;User ID=sa;Password=@zerty!23" providerName="System.Data.SqlClient"/>
    <!--
    <add name="TicketWindow.Properties.Settings.BDCA_testConnectionString" connectionString="Data Source=srv-anahit;Initial Catalog=BDCAtest2;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient"/>
  -->
  </connectionStrings>
  <appSettings>
    <add key="IsUseServer" value="False" />
    <add key="IdEstablishment" value="e27d5a4d-d6d3-4ee5-810b-f95b32e0bb93" />
    <add key="CustumerId" value="0bd63768-aa6f-4f71-abdb-570264a45001" />
    <add key="NameTicket" value="Caisse 1" />
    <add key="User" value="Karo" />
    <add key="Name" value="ST CHARLE" />
    <add key="Utc" value="1" />
    <add key="NumberTicket" value="1" />
    <add key="IdEstablishmentGros" value="33a6114d-cb17-4bdc-a51f-984fc849093f" />
    <add key="GridModif" value="False" />
    <add key="FromLoadSyncAll" value="False" />
    <add key="Bureau" value="False" />
    <add key="Language" value="ru-RU" />
    <add key="Column1WidthSetting" value="500" />
    <add key="Row1HeightSetting" value="400" />
    <add key="Row2HeightSetting" value="25" />
    <add key="Row3HeightSetting" value="100" />
  </appSettings>
</configuration>
